@page "/"
@inject algolia_search.Services.AlgoliaServices AlgoliaService
@using Algolia.Search.Models.Search

<h1>Search Results</h1>

@if (response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var hit in response.Hits)
    {
        <p>@hit</p>
    }
}

@code {
    private SearchResponse<dynamic> response;

    protected override async Task OnInitializedAsync()
    {
        response = await AlgoliaService.Search("query");
    }
}